.team {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px 2%;
}
.team-content {
  width: 60%;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.pf {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 8px;
}
.center h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: inherit;
  text-shadow: 0 5px #000000;
  font-weight: inherit;
}
.box {
  padding: 16px;
  background: #241141;
  border-radius: 15px;
  transition: all 0.38s ease;
}
.box h3 {
  font-size: 18px;
  font-family: inherit;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 25px;
  color: #b7b4bb;
  letter-spacing: 2px;
  font-family: VT323;
  margin: 12px;
}
.icons i {
  display: inline-block;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons img {
  width: 25px;
  height: auto;
}
.icons i:hover {
  transform: scale(1.2);
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 420px) {
  .center h1 {
    font-size: 34px;
  }

  .box h3 {
    font-size: 12px;
  }

  .box h5 {
    font-size: 19px;
  }
}
@media (max-width: 895px) {
  .team {
    height: auto;
  }
}
