@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: white;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url("./assets/background/bg1.gif");
}
.img2 {
  background-image: url("./assets/background/bg2.gif");
}
.img3 {
  background-image: url("./assets/background/bg3.gif");
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #812c49;
}

body::-webkit-scrollbar-thumb:hover {
  background: #d6517d;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  padding: 10px;
  background-color: #812c49;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px #0f0f0f;
  display: none;
}

.scroll-to-top.show {
  display: block;
}

.scroll-to-top img {
  width: 30px;
  height: 30px;
  transform: rotate(270deg);
}

.scroll-to-top:hover {
  background-color: #d6517d;
}

/* Default styles */
.firstContainer {
  max-width: 520px;
}

.DekstopPadding {
  padding: 10px 100px;
}

.firstHeading {
  font-size: 40px;
}

.firstPara {
  font-size: 30px;
}

.notifyText {
  font-size: 30px;
}

.footer {
  font-size: 25px;
}

/* Mobile-specific styles */
@media screen and (max-width: 420px) {
  .firstContainer {
    max-width: 350px;
  }

  .firstHeading {
    font-size: 34px;
  }

  .firstPara {
    font-size: 24px;
  }

  .notifyText {
    font-size: 26px;
  }

  .navbarMobilePadding {
    padding: 10px 15px;
  }

  .footer {
    font-size: 19px;
  }
}

@media screen and (max-width: 450px) {
  .scroll-to-top {
    bottom: 90px;
  }
}

@media screen and (max-width: 945px) {
  .navbarMobilePadding {
    padding: 10px 15px;
  }
}
