@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: white;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url("./assets/background/bg1.gif");
}
.img2 {
  background-image: url("./assets/background/bg2.gif");
}
.img3 {
  background-image: url("./assets/background/bg3.gif");
}
